/* general */
.section {
  background-color: #ffffff;
  padding: 80px 0;
  height: 600px;
}

/* section 1 */
#section-1{
  margin: 0;
  padding: 0;
}
.banner {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #fff;
}
.banner-image {
  vertical-align: middle;
  min-height: 100%;
  width: 100%;
  background-image: url("header.png");
}
.banner:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(grain.png) repeat;
  content: "";
}
.banner-caption {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 2;
}
.subfooter {
  background-color: #fafafa;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  padding: 40px 0;
}

