body{
    background: #95c9c3 url(grunge.png) repeat-x center;
}

a {
  text-decoration: none;
  color: #F6EDD8;
}

/* Texture */
.header-inner{
    background: #c51919 url(grain.png) repeat;
}

.header-inner {
  height: 130px;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.bottom-dashed {
  margin: 0;
  border-top: 1px dashed rgba(0,0,0,0.25);
  border-bottom: 1px dashed rgba(255,255,255,0.25);
  position: absolute;
  bottom: 10px;
  background-color: transparent;
  z-index: 10;
  width: 100%;
  height: 0;
}

#main-nav li {
  display: inline-block;
  font-size: 27px;
  line-height: 48px;
  padding: 0 15px;
  margin-top: 25px;
}

#main-nav .right-logo{
    margin-left: 20%;
}

#main-nav li {
  padding: 0;
  width: 20%;
  text-align: center;
  float: left;
}

#logo a {
  display: block;
  width: 150px;
  height: 150px;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150px 150px;
  text-indent: -9000px;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 20;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}

#logo {
  float: left;
}

#logo a {
  left: 50%;
  margin-left: -75px;
}

