{% extends "landing_base.html" %}

{% block title %}Liste des projets{% endblock %}

{% block pagedesc %}
    Page pour la liste des projets pour C0deTribuThon
{% endblock %}
{% block pagekey %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h2>Liste des projets</h2>
                </div>
            </div>
            <div class="row">
                {% if projects.count %}
                    {% if projects %}
                        <table class="panel panel-default table table-hover table-condensed sortable">
                            <thead>
                            <tr>
                                <td>Name</td>
                                <td>Organisation</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        <a href='{% url "projects:project_detail" project.id %}'>
                                            {{project.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href='#'>
                                            {{project.organization}}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning">
                            Aucun de vos projets ne correspond à ce statut.
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning">
                        Vous n'avez aucun projet pour le moment.
                    </div>
                {% endif %}
            </div>
        </div>

        {% endif %}
    </div>
{% endblock %}