{% load staticfiles %}

    <div id="footer-menu" class="hidden-tablet hidden-phone">
    </div>
    <div id="footer">

        <div class="container">
            <div class="row">
                <div class="span3">

                    <h3>A propos</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                        enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat.
                    </p>

                </div>

                <div class="span6">
                    <h3>Suivez-nous!</h3>
                    <ul class="social-grid">
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-twitter">
                                            <a href="http://twitter.com"></a>
                                        </div>
                                        <div class="social-info-back social-twitter-hover">
                                            <a href="http://twitter.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-facebook">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                        <div class="social-info-back social-facebook-hover">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-dribbble">
                                            <a href="http://dribbble.com"></a>
                                        </div>
                                        <div class="social-info-back social-dribbble-hover">
                                            <a href="http://dribbble.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-flickr">
                                            <a href="http://flickr.com"></a>
                                        </div>
                                        <div class="social-info-back social-flickr-hover">
                                            <a href="http://flickr.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form id="newsletter">
                        <h3>Newsletter</h3>
                        <p>Please leave us your email</p>
                        <label for="newsletter_input">@:</label>
                        <input type="text" id="newsletter_input"/>
                        <input type="submit" id="newsletter_submit" value="submit">
                    </form>
                </div>

            </div>

        </div>

    </div>
    <div id="copyright">
        <div class="container">

            <p>
                &copy; 2016, creativeLabs.
                C0deTribuThon all right reserved
            </p>

        </div>

    </div>
