{% load staticfiles %}

    <div id="footer-menu" class="hidden-tablet hidden-phone">
    </div>
    <div id="footer">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    <h3>A propos</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                        enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat.
                    </p>
                    <a class="btn btn-default" href="{% url 'pages:contact'%}">Plus</a>

                </div>

                <div class="col-lg-5">
                    <h3>Suivez-nous!</h3>
                    <ul class="social-grid">
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-twitter">
                                            <a href="http://twitter.com"></a>
                                        </div>
                                        <div class="social-info-back social-twitter-hover">
                                            <a href="http://twitter.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-facebook">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                        <div class="social-info-back social-facebook-hover">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-3">
                    <h3>Contactez-nous</h3>


                        <dl>
                            <dt>Telephone</dt>
                            <dd>514-333-2456 (687)</dd>
                            <dt>Email</dt>
                            <dd>amccompetition@gmail.com</dd>
                            <dt>Adresse</dt>
                            <dd>1100 rue Notre Dame Ouest</dd>
                        </dl>


            </div>

        </div>

    </div>
    <div id="copyright">
        <div class="container">

            <p>
                &copy; 2016, creativeLabs.
                C0deTribuThon all right reserved
            </p>

        </div>

    </div>
