<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Plateforme de contribution{% endblock %}
        </title>
        <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome-4.5.0/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        {% block extrahead %}{% endblock %}
    </head>

    <body class="centered-logo">
        <header>
            <div class="header-inner">
                <div class="container">
                    <div id="logo">
                        <a href="">
                            <h1>C0deTribuThon</h1>
                        </a>
                    </div>
                    <nav role="navigation">
                        <ul id="main-nav">
                            <li><a href="#about-me">About Me</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li class="right-logo"><a href="#my-blog">My Blog</a></li>
                            <li><a href="#contact-me">Contact Me</a></li>
                        </ul>
                    </nav>
                </div><!-- row -->
                <hr class="bottom-dashed">
            </div><!-- header-inner -->
        </header>

        {% block content %}{% endblock %}

        <script src="{% static 'js/libs/jquery-2.2.2.min.js' %}" type="application/javascript"></script>
        <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}" type="application/javascript"></script>

        <!-- WARNING :  Do not move this line before a manual import of script! -->
        {% block extrajs %}{% endblock %}
    </body>
</html>