{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="intro-header-no-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="#">
                    {% csrf_token %}
                    <table style="margin: 0 auto;">
                        {{form.as_p}}
                    </table>

                    <button class="btn btn-primary" type="submit">Connexion</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}